<html>
    <head>
        <title> Tanya's blog</title>
    </head>
    <body>
        <h1>if you like pina coladas</h1>
        <h2>and getting caught in the rain</h2>
        <h3>if you're not into yoga</h3>
        <p> and you have half a brain <br> <strong> if you like making love at midnight</strong><br><strong>in the dunes on the cape</strong><br> <em>i'm the one that you've looked for</em><br> write to me and escape</p>
        <div>
            <p>
              <a href="http://instagram.com/tanya_jpg">instagram</a>

                </p
                ></div>
    </body>
</html>